.h1 {
  font-family: 'Commissioner';
  font-size: 40px;
  /* font-size: 2.857em; */
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.h2 {
  font-family: 'Commissioner';
  font-size: 28px;
  /* font-size: 2em; */
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.h3 {
  font-family: 'Commissioner';
  font-size: 26px;
  /* font-size: 1.857em; */
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.h4 {
  font-family: 'Commissioner';
  font-size: 26px;
  /* font-size: 1.857em; */
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.h5 {
  font-family: 'Commissioner';
  font-size: 20px;
  /* font-size: 1.428em; */
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.h6 {
  font-family: 'Commissioner';
  font-size: 18px;
  /* font-size: 1.285em; */
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.sub-title-1 {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  /* font-size: 1.214em; */
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.sub-title-2 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* font-size: 1.142em; */
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}

.main-text {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  /* font-size: 1.071em; */
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.secondary-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  /* font-size: 1em; */
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.additional-text {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  /* font-size: 0.928em; */
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.btn-mine {
  font-family: 'Commissioner';
  font-size: 13px;
  /* font-size: 0.928em; */
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.btn-additional {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  /* font-size: 0.857em; */
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.caption {
  font-family: 'Commissioner';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.overline {
  font-family: 'Commissioner';
  font-size: 14px;
  /* font-size: 1em; */
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hamburger-menu {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 29px;
}

.text-align__start {
  text-align: start;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  max-width: 739px;
  width: 100%;
}

.nav > .flex-row {
  width: 100%;
}

.heder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-bottom: 20px;
}

.heder .heder-lang {
  max-width: 125px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.heder .heder-lang .lang-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.heder .heder-lang > .lang {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.heder .upper-string {
  width: 100%;
}

.heder .button-string {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
}

.heder .caption {
  text-transform: uppercase;
}

.heder .heder-phons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder .heder-voko {
  margin-left: 210px;
}

.heder .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.heder .phone > span {
  margin-right: 15px;
  margin-left: 14px;
}

.heder .phone > img {
  margin-right: 10px;
}

.first-section {
  max-width: 100%;
  background-size: cover;
  height: 650px;
  width: 100vw;
  background: url("./assets/img/Rectangle125.png");
  -webkit-transition: background 1s;
  transition: background 1s;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section__wrapper {
  max-width: 1170px;
}

.first-section__text {
  width: 100%;
  height: 240px;
  margin-top: 160px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  width: 200px;
  height: 45px;
  border: none;
  background-color: #dec377;
  text-transform: uppercase;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.h1 {
  max-width: 570px;
  width: 100%;
  text-align: start;
  color: rgba(0, 0, 0, 0.8);
}

.main-text {
  color: rgba(0, 0, 0, 0.8);
}

.slider-arrow__wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.slider-arrow__wrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-slider-control {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 90px;
}

.second-section__wrapper {
  height: 2690px;
  /*   maf-top: -95px; */
}

.second-section {
  background-color: #e5e5e5;
  height: 2590px;
}

.second-section__card-list {
  width: 100%;
  margin-top: -95px;
}

.second-section__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 270px;
  width: 100%;
  height: 285px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  padding: 40px 20px;
  background: #ffffff;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section__card .card-img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.second-section__card .card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.second-section__card .sub-title-2 {
  color: rgba(0, 0, 0, 0.75);
}

.introduction {
  width: 100%;
  height: 645px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), color-stop(32%, rgba(255, 255, 255, 0))), url("./assets/img/Rectangle141.png");
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 32%), url("./assets/img/Rectangle141.png");
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 0px 60px 70px;
}

.introduction .h2 {
  max-width: 540px;
  width: 100%;
  text-align: start;
  color: rgba(0, 0, 0, 0.8);
}

.introduction .introduction-text {
  max-width: 470px;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  text-align: start;
  margin-top: 20px;
}

.main-direction {
  width: 100%;
}

.main-direction__card-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-direction-title {
  text-align: start;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.9);
}

.main-direction__card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0px 25px 40px;
  margin-bottom: 30px;
  width: 370px;
  height: 140px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-direction__card .btn-additional {
  color: rgba(0, 0, 0, 0.5);
}

.main-direction__card .h5 {
  max-width: 180px;
  width: 100%;
  text-align: start;
}

.main-direction__card .card-img {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-direction__card .card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-direction-slider-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 820px;
  width: 100%;
}

.main-direction-slider {
  max-width: 1370px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-direction-slider__text {
  text-align: start;
  margin-bottom: 60px;
}

.main-direction-slider__text .h2 {
  width: 100%;
  margin-right: 30px;
  text-align: start;
  color: rgba(0, 0, 0, 0.9);
}

.main-direction-slider__text .main-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.main-direction-slider__content {
  height: 560px;
  max-width: 1170px;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./assets/img/Rectangle107.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-direction-slider__control {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.main-direction-slider__control > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.third-section {
  width: 100%;
  height: 1145px;
  background-color: #ffffff;
}

.third-section__wrapper {
  margin-top: 210px;
  height: 1035px;
}

.third-section__wrapper .h2 {
  text-align: start;
}

.third-section__wrapper .comments-slider {
  height: 585px;
  width: 100%;
}

.third-section__wrapper .comments-slider .first-card {
  margin-right: 30px;
}

.third-section__wrapper .comments-control {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-section__wrapper .third-section__comments {
  height: 740px;
}

.third-section__wrapper .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 140px 50px 65px 50px;
  max-width: 570px;
  width: 100%;
  height: 585px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6))), url("./assets/img/Rectangle150.png");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("./assets/img/Rectangle150.png");
  background-position: top;
  background-repeat: no-repeat;
}

.third-section__wrapper .card .main-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.third-section__wrapper .card .h3 {
  color: #dec377;
}

.third-section__wrapper .card .secondary-text {
  color: rgba(0, 0, 0, 0.5);
}

.third-section__wrapper .card .btn-additional {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.comments-control__indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-control__indicator > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.comments-control__indicator > ul > li:active {
  background: #dec377;
}

.partners-area {
  width: 100%;
  height: 195px;
}

.partners-area__text {
  max-width: 970px;
  width: 100%;
}

.partners-area__text .main-text {
  text-align: start;
  max-width: 670px;
  color: rgba(0, 0, 0, 0.5);
}

.partners-area__text .btn {
  background: transparent;
  color: #dec377;
  border: 2px solid #dec377;
}

.partners-area__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-area__icons > img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.forth-section {
  background-color: #e5e5e5;
  height: 700px;
}

.forth-section .card-area__wrapper {
  height: 520px;
}

.forth-section .card-area {
  width: 100%;
  margin-top: 80px;
}

.forth-section .card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 305px;
  max-width: 550px;
  width: 100%;
  padding: 40px 50px 55px 50px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.forth-section .second-card {
  background: url("./assets/svg/Rectangle113.svg");
  background-color: #fff;
  background-position: top right;
  background-repeat: no-repeat;
}

.forth-section .h4 {
  text-align: start;
}

.forth-section .main-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.forth-section .card-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px 50px 45px 50px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-top: 30px;
}

.forth-section .card-row .main-text {
  max-width: 720px;
}

.fifth-section {
  width: 100%;
  height: 180px;
  background: url("./assets/img/Rectangle114.png");
  background-position: center;
  background-repeat: no-repeat;
}

.sixth-section {
  background-color: #e5e5e5;
  height: 1250px;
}

.sixth-section .wrapper {
  height: 1140px;
}

.sixth-section .wrapper > .h2 {
  margin-top: 80px;
}

.sixth-section .h2 {
  width: 100%;
  text-align: start;
}

.sixth-section .main-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.sixth-section .card-area {
  height: 820px;
  width: 100%;
}

.sixth-section .card-area .card {
  height: 140px;
  width: 470px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-left: 70px solid rgba(222, 195, 119, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 30px 20px 30px;
}

.sixth-section .card-area .card .h5 {
  text-align: start;
  color: rgba(0, 0, 0, 0.9);
}

.sixth-section .card-area .card .btn-additional {
  text-transform: uppercase;
  text-align: end;
  color: rgba(0, 0, 0, 0.5);
}

.sixth-section .text-area {
  width: 100%;
}

.sixth-section .text-area .main-text {
  width: 770px;
}

.seventh-section {
  height: 790px;
}

.seventh-section .h2 {
  color: rgba(0, 0, 0, 0.9);
}

.seventh-section .main-text {
  color: rgba(0, 0, 0, 0.5);
}

.seventh-section .wrapper {
  width: 100%;
  height: 600px;
}

.seventh-section .wrapper > div {
  width: 100%;
}

.seventh-section .wrapper .h2 {
  text-align: start;
}

.seventh-section .wrapper .main-text {
  width: 470px;
  text-align: start;
}

.seventh-section .sub-title-1 {
  color: rgba(0, 0, 0, 0.75);
  text-align: start;
}

.seventh-section .list-item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
}

.seventh-section .text-area {
  height: 170px;
  max-width: 470px;
  width: 100%;
}

.seventh-section .list {
  max-width: 440px;
  width: 100%;
}

.seventh-section .list-point__wrapper {
  position: relative;
  min-width: 40px;
  height: 40px;
  border: 1px solid rgba(222, 195, 119, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-right: 30px;
}

.seventh-section .list-point__wrapper > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #dec377;
  border-radius: 50%;
}

.eight-section {
  height: 1575px;
  background-color: #e5e5e5;
}

.eight-section .card-area {
  width: 100%;
  height: 535px;
}

.eight-section .h2 {
  color: rgba(0, 0, 0, 0.9);
  text-align: start;
}

.eight-section .sub-title-2 {
  color: rgba(0, 0, 0, 0.75);
}

.eight-section .card-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 160px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.5);
  background: url("./assets/svg/Rectangle113.svg");
  background-color: white;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 40px 50px;
}

.eight-section .card-row > p {
  max-width: 750px;
  text-align: start;
}

.eight-section .card {
  width: 270px;
  height: 335px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.eight-section .card .card-img {
  width: 120px;
  height: 120px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
}

.eight-section .card .card-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.eight-section .cooperation {
  height: 365px;
  margin-top: 100px;
  width: 100%;
}

.eight-section .cooperation .cooperation-text {
  width: 500px;
}

.eight-section .cooperation .cooperation-list {
  height: 177px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eight-section .cooperation .list-item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eight-section .cooperation .list-item__wrapper {
  position: relative;
  border: 1px solid rgba(222, 195, 119, 0.75);
  color: #dec377;
  border-radius: 50%;
  min-width: 70px;
  height: 70px;
  margin-right: 30px;
}

.eight-section .cooperation .list-item__wrapper > div {
  font-family: 'Commissioner';
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: center;
}

.eight-section .cooperation .list-item__text {
  max-width: 400px;
  height: 75px;
  text-align: start;
}

.eight-section .cooperation .secondary-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.eight-section .cooperation .form-wrapper {
  width: 570px;
  height: 365px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 40px 50px 50px 50px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.eight-section .cooperation .form-wrapper .main-text {
  color: rgba(0, 0, 0, 0.5);
}

.eight-section .cooperation .form-wrapper input {
  text-align: start;
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.eight-section .cooperation .phone-wrapper .overline {
  color: rgba(0, 0, 0, 0.5);
}

.eight-section .cooperation .overline {
  text-align: start;
}

.eight-section .cooperation .btn {
  margin-top: 30px;
  width: 100%;
}

.eight-section .cooperation .additional-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.eight-section .cooperation .additional-text a {
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.eight-section .cost {
  margin-top: 100px;
  width: 670px;
  height: 220px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.eight-section .cost .h2 {
  text-align: start;
  color: rgba(0, 0, 0, 0.9);
}

.eight-section .cost .main-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  height: 705px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}

.footer .corporation-info {
  margin-top: 50px;
  max-width: 270px;
  height: 410px;
}

.footer .corporation-info .corporation-info__text {
  width: 255px;
  height: 280px;
}

.footer .corporation-info .h5 {
  text-align: start;
  color: rgba(0, 0, 0, 0.9);
}

.footer .corporation-info .caption {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.footer .corporation-info .additional-text {
  color: rgba(0, 0, 0, 0.5);
}

.footer .corporation-info .btn-additional {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .corporation-info .btn-additional > span {
  max-width: 162px;
  text-transform: uppercase;
  text-align: start;
  color: rgba(0, 0, 0, 0.75);
  margin-right: 15px;
}

.footer .main-text {
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  text-align: start;
}

.footer .overline {
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer .caption {
  text-align: start;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 5px;
}

.footer .additional-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.footer .our-office {
  margin-top: 85px;
  max-width: 670px;
  width: 100%;
}

.footer .our-office .city-list__wrapper {
  height: 505px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .our-office .city-list__wrapper .city-card {
  margin-bottom: 35px;
}

.footer .our-office .city-minsk > div {
  margin-bottom: 20px;
}

.footer .our-office .city-list {
  max-width: 200px;
  width: 100%;
}

.footer .work-time {
  margin-top: 85px;
  max-width: 170px;
}

.footer .work-time .work-time-item {
  margin-bottom: 30px;
}

.web-focus-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1370px) {
  .main-direction-slider {
    max-width: 1170px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1170px) {
  .line {
    display: none;
  }
  .first-section {
    height: 56vw;
  }
  .main-slider-control {
    margin-top: 0px;
  }
  .first-section__text {
    margin-top: 5vw;
  }
  .comments-slider .second-card {
    display: none;
  }
  .comments-slider .card {
    width: auto;
    background-repeat: repeat no-repeat;
  }
  .wrapper {
    max-width: 100%;
  }
  .main-direction-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-direction-slider__content {
    height: 56vw;
    width: 90%;
  }
  .main-direction-slider__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seventh-section .main-text {
    width: auto !important;
  }
  .seventh-section .card-row > p {
    width: auto;
  }
  .forth-section .card {
    height: auto;
  }
  .partners-area__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* .cooperation {
    height: 400px !important;
  } */
}

@media (max-width: 768px) {
  .heder .heder-voko {
    display: none;
  }
  .second-section__wrapper {
    height: auto;
  }
  .introduction {
    height: auto;
    background-image: none;
  }
  .main-direction {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-direction__card {
    max-width: 100%;
    width: 100%;
  }
  .main-direction__card-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second-section {
    height: auto;
  }
  .second-section__card-list {
    display: none;
  }
  .third-section__wrapper {
    margin-top: 100px;
    width: auto;
    height: auto;
  }
  .forth-section {
    height: auto;
  }
  .forth-section .card-area__wrapper {
    height: auto;
  }
  .forth-section .card-area__wrapper .card-row {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forth-section .card-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forth-section .card-area .card {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .sixth-section {
    height: auto;
  }
  .sixth-section > .wrapper {
    height: auto;
  }
  .main-direction-slider__control {
    display: none;
  }
  .main-direction-slider__content {
    width: 100%;
  }
  .eight-section {
    height: auto;
  }
  .eight-section > .wrapper > .flex-column {
    width: auto;
    height: auto !important;
    margin-top: 40px !important;
  }
  .eight-section > .wrapper > .flex-column .card-area {
    height: auto !important;
  }
  .eight-section > .wrapper > .flex-column .h2 {
    text-align: center;
  }
  .eight-section .cooperation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-top: 20px;
  }
  .eight-section .cooperation .cooperation-text {
    height: 350px;
  }
  .eight-section .cost {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .eight-section .card-are {
    height: auto;
  }
  .eight-section .card {
    display: none;
  }
  .eight-section .form-wrapper {
    width: 100% !important;
  }
  .footer {
    height: auto;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content .corporation-info {
    width: 100%;
    max-width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content .our-office {
    max-width: 100%;
  }
  .footer-content .city-list__wrapper {
    height: auto !important;
  }
  .footer-content .work-time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
  }
  .footer-content .work-time .work-time-item {
    margin-right: 10px;
  }
  .footer-content .work-time > hr {
    width: 1px;
    height: auto;
    margin-right: 10px;
  }
}

@media (max-width: 620px) {
  .heder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heder .upper-string {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .heder .nav {
    display: none;
  }
  .heder .heder-phons {
    display: none;
  }
  .introduction {
    padding: 20px;
  }
  .main-direction-slider .main-direction-slider__content {
    width: 100%;
  }
  .main-direction-slider img {
    display: none;
  }
  .main-direction-slider-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 670px;
    margin-top: 50px;
    width: 100%;
  }
  .third-section {
    height: auto;
  }
  .third-section .partners-area__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-section .partners-area__text > a {
    margin-top: 20px;
  }
  .third-section .partners-area__icons {
    display: none;
  }
  .sixth-section .card-area .card {
    width: 50% !important;
    border-left: 10px solid rgba(222, 195, 119, 0.4);
  }
  .sixth-section .card-area .card .h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .sixth-section .main-text {
    width: 100% !important;
  }
  .sixth-section .text-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .seventh-section {
    height: auto;
  }
  .seventh-section > .wrapper {
    height: auto;
  }
  .seventh-section > .wrapper .flex-row {
    margin-top: 30px !important;
  }
  .seventh-section > .wrapper .flex-row .h2 {
    text-align: center;
  }
  .seventh-section > .wrapper .flex-row .text-area {
    height: auto;
  }
  .seventh-section .list {
    display: none;
  }
  .eight-section .cooperation-text {
    width: 100% !important;
  }
  .eight-section .card-row {
    height: auto;
  }
  .city-list__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 550px) {
  .introduction {
    margin-top: 150px;
  }
  .first-section__text > .h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .heder-lang {
    display: none;
  }
  .first-section__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section__text-title {
    margin-left: 10px;
  }
  .sixth-section .card-area .card {
    width: 50% !important;
    padding: 10px;
  }
  .sixth-section .card-area .card .h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .main-slider-control {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-section__text-sub-title {
    display: none;
  }
  .main-direction-slider-wrapper {
    height: 700px;
  }
  .partners-area {
    height: auto;
  }
  .partners-area .partners-area__text > a {
    margin: 10px;
  }
  .main-direction-slider__text > .h2 {
    text-align: center;
  }
  .main-direction-title {
    text-align: center;
  }
  .main-direction__card > .h5 {
    width: 100px;
  }
  .third-section .first-card {
    margin-right: 0px !important;
    height: auto;
  }
  .third-section .third-section__comments {
    height: auto;
  }
  .third-section .third-section__comments .comments-slider {
    height: auto;
  }
  .third-section .comments-control .comments-control__indicator {
    display: none;
  }
  .cooperation-text {
    height: 400px !important;
  }
  .work-time {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .work-time .main-text {
    text-align: center;
  }
  .work-time .work-time-item {
    margin-right: 0px;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */